{
    "openapi": "3.0.1",
    "info": {
        "title": "Translation API",
        "description": "The Khaya AI Translation REST API",
        "termsOfService": "https://algorine.com/termsofuse/",
        "contact": {
            "name": "Khaya A.I",
            "url": "https://khaya.ai/",
            "email": "subscriptions@khaya.ai"
        },
        "license": {
            "name": "End User License Agreement (EULA)",
            "url": "https://algorine.com/termsofuse/"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://translation-api.ghananlp.org/v1"
        }
    ],
    "paths": {
        "/translate": {
            "post": {
                "summary": "Translates given input string",
                "description": "Translates given input string",
                "operationId": "post-translate",
                "requestBody": {
                    "description": "Translates given input string",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/translate"
                            },
                            "example": {
                                "in": "Translation text",
                                "lang": "en-tw"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/translationResponse"
                                },
                                "example": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/responseError"
                                },
                                "example": {
                                    "type": "Error type",
                                    "message": "Error message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/languages": {
            "get": {
                "summary": "Get languages list",
                "description": "Get languages list",
                "operationId": "get-languages-list",
                "responses": {
                    "200": {
                        "description": "List of language codes with corresponding language name",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Language_Listing"
                                },
                                "example": {
                                    "languages": {
                                        "en": "English",
                                        "tw": "Twi",
                                        "ee": "Ewe",
                                        "gaa": "Ga",
                                        "fat": "Fante",
                                        "yo": "Yoruba",
                                        "dag": "Dagbani",
                                        "ki": "Kikuyu",
                                        "gur": "Gurune",
                                        "luo": "Luo",
                                        "mer": "Kimeru",
                                        "kus": "Kusaal"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "translationResponse": {
                "type": "string",
                "description": "Translated text"
            },
            "responseError": {
                "required": [
                    "type",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "Error type"
                    },
                    "message": {
                        "type": "string",
                        "description": "Error message"
                    }
                },
                "example": {
                    "type": "Error type",
                    "message": "Error message"
                }
            },
            "translate": {
                "required": [
                    "in",
                    "lang"
                ],
                "type": "object",
                "properties": {
                    "in": {
                        "maxLength": 1000,
                        "type": "string",
                        "description": "Input string to be translated. Maximum length is 1000 characters",
                        "format": "string"
                    },
                    "lang": {
                        "type": "string",
                        "description": "Language pair tag ( from-to ). Language codes: English - en, Twi - tw, Ga - gaa, Ewe - ee, Fante - fat, Dagbani - dag, Gurene - gur, Yoruba - yo, Kikuyu - ki, Luo - luo, Kimeru - mer",
                        "format": "string"
                    }
                },
                "example": {
                    "in": "Translation text",
                    "lang": "en-tw"
                }
            },
            "Language_Listing": {
                "type": "object",
                "properties": {
                    "languages": {
                        "type": "object",
                        "properties": {
                            "en": {
                                "type": "string"
                            },
                            "tw": {
                                "type": "string"
                            },
                            "ee": {
                                "type": "string"
                            },
                            "gaa": {
                                "type": "string"
                            },
                            "fat": {
                                "type": "string"
                            },
                            "yo": {
                                "type": "string"
                            },
                            "dag": {
                                "type": "string"
                            },
                            "ki": {
                                "type": "string"
                            },
                            "gur": {
                                "type": "string"
                            },
                            "luo": {
                                "type": "string"
                            },
                            "mer": {
                                "type": "string"
                            },
                            "kus": {
                                "type": "string"
                            }
                        }
                    }
                },
                "x-apim-schema-name": "Language Listing"
            }
        },
        "securitySchemes": {
            "apiKeyHeader": {
                "type": "apiKey",
                "name": "Ocp-Apim-Subscription-Key",
                "in": "header"
            },
            "apiKeyQuery": {
                "type": "apiKey",
                "name": "subscription-key",
                "in": "query"
            }
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "tags": [
        {
            "name": "Translation Controller",
            "description": "Everything about API translation"
        }
    ]
}